In [187]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [188]:
df=pd.read_csv("C:\\Users\\md kaif\\Downloads\\cars_engage_2022.csv")

In [189]:
df.head()

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
del df["Unnamed: 0"]

In [191]:
df.head()

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,Emission_Norm,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,BS IV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
## Checking Datatypes

In [193]:
df.dtypes

Make                  object
Model                 object
Variant               object
Ex-Showroom_Price     object
Displacement          object
                      ...
USB_Ports            float64
Heads-Up_Display      object
Welcome_Lights        object
Battery               object
Electric_Range        object
Length: 140, dtype: object

In [194]:
for i in df.columns:
    if df[i].isnull().sum()>0:
        print(i,"----------",df[i].isnull().sum()*100/df.shape[0])

Make ---------- 5.877742946708464
Displacement ---------- 0.9404388714733543
Cylinders ---------- 5.172413793103448
Valves_Per_Cylinder ---------- 7.993730407523511
Drivetrain ---------- 0.54858934169279
Cylinder_Configuration ---------- 1.0188087774294672
Emission_Norm ---------- 0.8620689655172413
Engine_Location ---------- 3.3699059561128526
Fuel_System ---------- 0.6269592476489029
Fuel_Tank_Capacity ---------- 5.407523510971787
Height ---------- 0.07836990595611286
Width ---------- 0.9404388714733543
Body_Type ---------- 0.4702194357366771
Doors ---------- 0.31347962382445144
City_Mileage ---------- 43.495297805642636
Highway_Mileage ---------- 62.69592476489028
ARAI_Certified_Mileage ---------- 8.934169278996865
ARAI_Certified_Mileage_for_CNG ---------- 97.88401253918495
Kerb_Weight ---------- 28.605015673981192
Gears ---------- 8.22884012539185
Ground_Clearance ---------- 22.648902821316614
Front_Brakes ---------- 1.9592476489028212
Rear_Brakes ---------- 1.9592476489028212
Front_Suspension ---------- 4.623824451410658
Rear_Suspension ---------- 3.605015673981191
Front_Track ---------- 52.27272727272727
Rear_Track ---------- 52.97805642633229
Front_Tyre_&_Rim ---------- 3.8401253918495297
Rear_Tyre_&_Rim ---------- 3.761755485893417
Power_Steering ---------- 4.467084639498433
Power_Windows ---------- 7.601880877742946
Power_Seats ---------- 69.98432601880877
Keyless_Entry ---------- 21.473354231974923
Torque ---------- 0.15673981191222572
Odometer ---------- 3.3699059561128526
Speedometer ---------- 3.5266457680250785
Tachometer ---------- 1.0188087774294672
Tripmeter ---------- 4.702194357366771
Seating_Capacity ---------- 0.4702194357366771
Seats_Material ---------- 0.9404388714733543
Type ---------- 0.07836990595611286
Wheelbase ---------- 1.567398119122257
Wheels_Size ---------- 4.38871473354232
Start_/_Stop_Button ---------- 53.13479623824451
12v_Power_Outlet ---------- 12.068965517241379
Audiosystem ---------- 3.4482758620689653
Aux-in_Compatibility ---------- 22.25705329153605
Average_Fuel_Consumption ---------- 27.037617554858933
Basic_Warranty ---------- 34.48275862068966
Bluetooth ---------- 22.884012539184955
Boot-lid_Opener ---------- 1.09717868338558
Boot_Space ---------- 19.5141065830721
CD_/_MP3_/_DVD_Player ---------- 24.21630094043887
Central_Locking ---------- 11.677115987460816
Child_Safety_Locks ---------- 5.877742946708464
Clock ---------- 10.501567398119123
Cup_Holders ---------- 3.2131661442006267
Distance_to_Empty ---------- 19.043887147335422
Door_Pockets ---------- 9.169278996865204
Engine_Malfunction_Light ---------- 9.169278996865204
Extended_Warranty ---------- 51.80250783699059
FM_Radio ---------- 19.5141065830721
Fuel-lid_Opener ---------- 1.09717868338558
Fuel_Gauge ---------- 3.0564263322884013
Handbrake ---------- 4.467084639498433
Instrument_Console ---------- 1.09717868338558
Low_Fuel_Warning ---------- 2.8213166144200628
Minimum_Turning_Radius ---------- 29.858934169278996
Multifunction_Display ---------- 6.974921630094044
Sun_Visor ---------- 4.858934169278997
Third_Row_AC_Vents ---------- 28.683385579937305
Ventilation_System ---------- 2.74294670846395
Auto-Dimming_Rear-View_Mirror ---------- 48.58934169278997
Hill_Assist ---------- 62.38244514106583
Gear_Indicator ---------- 39.106583072100314
3_Point_Seat-Belt_in_Middle_Rear_Seat ---------- 96.00313479623824
Ambient_Lightning ---------- 95.61128526645768
Cargo/Boot_Lights ---------- 90.51724137931035
Drive_Modes ---------- 84.71786833855799
Engine_Immobilizer ---------- 4.702194357366771
High_Speed_Alert_System ---------- 83.69905956112852
Lane_Watch_Camera/_Side_Mirror_Camera ---------- 94.82758620689656
Passenger_Side_Seat-Belt_Reminder ---------- 86.5987460815047
Seat_Back_Pockets ---------- 34.71786833855799
Voice_Recognition ---------- 89.65517241379311
Walk_Away_Auto_Car_Lock ---------- 91.92789968652038
ABS_(Anti-lock_Braking_System) ---------- 10.344827586206897
Headlight_Reminder ---------- 20.219435736677116
Adjustable_Headrests ---------- 19.592476489028215
Gross_Vehicle_Weight ---------- 46.63009404388715
Airbags ---------- 10.344827586206897
Door_Ajar_Warning ---------- 11.206896551724139
EBD_(Electronic_Brake-force_Distribution) ---------- 15.752351097178684
Fasten_Seat_Belt_Warning ---------- 14.890282131661442
Gear_Shift_Reminder ---------- 42.55485893416928
Number_of_Airbags ---------- 10.579937304075235
Compression_Ratio ---------- 71.86520376175548
Adjustable_Steering_Column ---------- 14.968652037617554
Other_Specs ---------- 99.21630094043887
Other_specs ---------- 95.0626959247649
Parking_Assistance ---------- 22.727272727272727
Key_Off_Reminder ---------- 26.645768025078368
USB_Compatibility ---------- 20.92476489028213
Android_Auto ---------- 86.44200626959248
Apple_CarPlay ---------- 86.44200626959248
Cigarette_Lighter ---------- 53.44827586206897
Infotainment_Screen ---------- 36.206896551724135
Multifunction_Steering_Wheel ---------- 27.50783699059561
Average_Speed ---------- 40.125391849529784
EBA_(Electronic_Brake_Assist) ---------- 54.075235109717866
Seat_Height_Adjustment ---------- 25.54858934169279
Navigation_System ---------- 46.47335423197492
Second_Row_AC_Vents ---------- 47.17868338557994
Tyre_Pressure_Monitoring_System ---------- 73.35423197492163
Rear_Center_Armrest ---------- 43.808777429467085
iPod_Compatibility ---------- 51.959247648902824
ESP_(Electronic_Stability_Program) ---------- 61.05015673981191
Cooled_Glove_Box ---------- 50.54858934169279
Recommended_Tyre_Pressure ---------- 99.21630094043887
Heated_Seats ---------- 79.15360501567397
Turbocharger ---------- 48.43260188087774
ISOFIX_(Child-Seat_Mount) ---------- 52.19435736677116
Rain_Sensing_Wipers ---------- 62.539184952978054
Paddle_Shifters ---------- 76.17554858934169
Leather_Wrapped_Steering ---------- 53.99686520376176
Automatic_Headlamps ---------- 60.658307210031346
Engine_Type ---------- 97.33542319749216
ASR_/_Traction_Control ---------- 65.36050156739812
Cruise_Control ---------- 56.974921630094045
USB_Ports ---------- 97.72727272727273
Heads-Up_Display ---------- 96.00313479623824
Welcome_Lights ---------- 94.59247648902821
Battery ---------- 98.98119122257053
Electric_Range ---------- 98.66771159874608

In [195]:
## Segregate The Numric And Object -Dtypes

In [196]:
numeric=["int32","float64"]
df_numeric=df.select_dtypes(include=numeric)

In [197]:
for i in df_numeric:
    if df_numeric[i].isnull().sum()>0:
        df_numeric[i]=df_numeric[i].fillna(df_numeric[i].median())

In [198]:
df_numeric.isnull().sum()

Cylinders              0
Valves_Per_Cylinder    0
Doors                  0
Seating_Capacity       0
Number_of_Airbags      0
USB_Ports              0
dtype: int64

In [199]:
## Missing Values Have Been Filled In THe Numeric Columns

In [200]:
type(np.nan)

float

In [201]:
## Moving Onto The Object Columns Of Our Data

In [202]:
df_object=df.select_dtypes(include="object")

In [203]:
#

In [204]:
df_object.isnull().sum()

Make                   75
Model                   0
Variant                 0
Ex-Showroom_Price       0
Displacement           12
                     ...
Cruise_Control        727
Heads-Up_Display     1225
Welcome_Lights       1207
Battery              1263
Electric_Range       1259
Length: 134, dtype: int64

In [205]:
df_obj_list = ['Make', 'Model', 'Variant', 'Ex-Showroom_Price', 'Displacement', 'Drivetrain', 'Emission_Norm','Keyless_Entry',
       'Power', 'Torque', 'Odometer', 'Speedometer', 'Tachometer', 'Tripmeter','Fuel_Type', 'ARAI_Certified_Mileage','Front_Suspension', 'Rear_Suspension','Ground_Clearance','Boot_Space',
 'Audiosystem','Third_Row_AC_Vents', 'Ventilation_System','Auto-Dimming_Rear-View_Mirror', 'Hill_Assist', 'Gear_Indicator','ABS_(Anti-lock_Braking_System)','EBD_(Electronic_Brake-force_Distribution)',
 'Gear_Shift_Reminder','Adjustable_Steering_Column', 'Parking_Assistance', 'Key_Off_Reminder','USB_Compatibility',
 'EBA_(Electronic_Brake_Assist)', 'Seat_Height_Adjustment','Navigation_System', 'Second_Row_AC_Vents', 'Rear_Center_Armrest','ESP_(Electronic_Stability_Program)','Cooled_Glove_Box', 'Turbocharger',
  'Rain_Sensing_Wipers','Automatic_Headlamps', 'ASR_/_Traction_Control', 'Cruise_Control']
len(df_obj_list)

45

In [206]:
df_obj=df_object.loc[:,df_obj_list]

In [207]:
df_obj

,Make,Model,Variant,Ex-Showroom_Price,Displacement,Drivetrain,Emission_Norm,Keyless_Entry,Power,Torque,...,Navigation_System,Second_Row_AC_Vents,Rear_Center_Armrest,ESP_(Electronic_Stability_Program),Cooled_Glove_Box,Turbocharger,Rain_Sensing_Wipers,Automatic_Headlamps,ASR_/_Traction_Control,Cruise_Control
0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,RWD (Rear Wheel Drive),BS IV,Remote,38PS@5500rpm,51Nm@4000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,RWD (Rear Wheel Drive),BS IV,NaN,38PS@5500rpm,51Nm@4000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,RWD (Rear Wheel Drive),BS IV,NaN,38PS@5500rpm,51Nm@4000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,RWD (Rear Wheel Drive),BS IV,Remote,38PS@5500rpm,51Nm@4000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,RWD (Rear Wheel Drive),BS IV,NaN,38PS@5500rpm,51Nm@4000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,FWD (Front Wheel Drive),BS IV,Smart Key,100PS@3600rpm,200Nm@1750rpm,...,Yes,Yes,Cup Holders,NaN,NaN,Yes,NaN,NaN,NaN,Yes
1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,FWD (Front Wheel Drive),BS IV,Smart Key,100PS@3600rpm,200Nm@1750rpm,...,Yes,Yes,Cup Holders,NaN,Yes,Yes,Yes,Yes,NaN,Yes
1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,FWD (Front Wheel Drive),BS 6,Smart Key,119PS@6600rpm,145Nm@4600rpm,...,Yes,Yes,Cup Holders,NaN,NaN,NaN,NaN,Yes,NaN,Yes
1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,FWD (Front Wheel Drive),BS 6,Remote,119PS@6600rpm,145Nm@4600rpm,...,Yes,Yes,Cup Holders,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,AWD (All Wheel Drive),BS IV,Yes,202ps@3800rpm,441Nm@2000rpm,...,Yes,Yes,Cup Holders,Yes,Yes,Yes,Yes,NaN,Yes,Yes

In [208]:
df_obj.isnull().sum().sum()

13568

In [209]:
df_obj["Make"].unique()

array(['Tata', 'Datsun', 'Renault', 'Maruti Suzuki', 'Hyundai', 'Premier',
       'Toyota', 'Nissan', 'Volkswagen', 'Ford', 'Mahindra', 'Fiat',
       'Honda', 'Jeep', 'Isuzu', 'Skoda', 'Audi', nan, 'Dc', 'Mini',
       'Volvo', 'Jaguar', 'Bmw', 'Land Rover', 'Porsche', 'Lexus',
       'Maserati', 'Lamborghini', 'Bentley', 'Ferrari', 'Aston Martin',
       'Bugatti', 'Bajaj', 'Icml', 'Force', 'Mg', 'Kia',
       'Land Rover Rover', 'Mitsubishi', 'Maruti Suzuki R'], dtype=object)

In [210]:
df_obj["Make"]=df_obj["Make"].replace("Maruti Suzuki R","Maruti Suzuki")
df_obj["Make"]=df_obj["Make"].replace("Land Rover Rover","Land Rover")

In [211]:
df_obj["Make"].unique()

array(['Tata', 'Datsun', 'Renault', 'Maruti Suzuki', 'Hyundai', 'Premier',
       'Toyota', 'Nissan', 'Volkswagen', 'Ford', 'Mahindra', 'Fiat',
       'Honda', 'Jeep', 'Isuzu', 'Skoda', 'Audi', nan, 'Dc', 'Mini',
       'Volvo', 'Jaguar', 'Bmw', 'Land Rover', 'Porsche', 'Lexus',
       'Maserati', 'Lamborghini', 'Bentley', 'Ferrari', 'Aston Martin',
       'Bugatti', 'Bajaj', 'Icml', 'Force', 'Mg', 'Kia', 'Mitsubishi'],
      dtype=object)

In [212]:
df_obj["Model"].unique()

array(['Nano Genx', 'Redi-Go', 'Kwid', 'Eeco', 'Alto K10', 'Go',
       'Celerio Tour', 'Santro', 'Tiago', 'Celerio X', 'Ignis', 'Triber',
       'Rio', 'Etios Liva', 'Micra Active', 'Bolt', 'Xcent Prime',
       'Dzire Tour', 'Elite I20', 'Aura', 'Polo', 'Dzire', 'Freestyle',
       'Ameo', 'Aspire', 'Platinum Etios', 'Etios Cross', 'Verito Vibe',
       'Urban Cross', 'Glanza', 'Avventura', 'Jazz', 'Compass Trailhawk',
       'Mu-X', 'Alturas G4', 'Tiguan', 'Cr-V', 'Superb Sportline', 'A3',
       'Mercedes-Benz B-Class', 'Mercedes-Benz Cla-Class', 'Kodiaq',
       'Avanti', 'Q3', 'Cooper 5 Door', 'Convertible', 'Xc40', 'Clubman',
       'A4', 'John Cooper Works', 'Xe', 'Xf', 'A3 Cabriolet', 'A6', 'X3',
       'Discovery Sport', 'S90', 'S5', 'X5', 'Mustang', 'Grand Cherokee',
       'Mercedes-Benz E-Class Cabriolet', 'M2 Competition', '718',
       'Mercedes-Benz Gls', 'Land Cruiser Prado', 'Rx 450H', 'Rs5',
       '7-Series', 'Q8', 'Mercedes-Benz S-Class', 'Levante',
       'Mercedes-Benz G-Class', 'A8 L', 'Granturismo', 'Quattroporte',
       'Lc 500H', 'Mercedes-Benz Maybach', 'Panamera', 'Lx 450D',
       'Mercedes-Benz S-Class Cabriolet', 'R8', 'Urus', 'Continental Gt',
       'Portofino', 'Bentayga', 'Db 11', '458 Speciale',
       'Rolls-Royce Ghost Series Ii', 'Rolls-Royce Wraith', 'Mulsanne',
       'Rolls-Royce Cullinan', 'Rolls-Royce Phantom Coupe', 'Chiron',
       'Qute (Re60)', 'Alto', 'S-Presso', 'Celerio', 'Grand I10 Prime',
       'Kuv100 Nxt', 'Swift', 'Altroz', 'Extreme', 'Tigor', 'Zest',
       'Amaze', 'Gypsy', 'Venue', 'Nexon', 'Linea', 'Bolero Power Plus',
       'Vitara Brezza', 'I20 Active', 'Ecosport', 'Duster', 'Verna',
       'Xuv300', 'Lodgy', 'Vento', 'E2O Plus', 'Tigor Ev', 'Brv', 'Thar',
       'Gurkha', 'Xl6', 'Abarth Avventura', 'Tuv300 Plus', 'Marazzo',
       'Scorpio', 'Monte Carlo', 'Xuv500', 'E Verito', 'Hexa',
       'Innova Crysta', 'Compass', 'Corolla Altis', 'Civic', 'Zs Ev',
       'Carnival', 'Superb', 'V40', 'Fortuner', 'Endeavour',
       'Cooper 3 Door', 'Kodiaq Scout', 'X1', 'S60', '3-Series',
       'S60 Cross Country', 'Q5', 'Range Evoque', 'Mercedes-Benz E-Class',
       'Xc60', 'X4', 'Wrangler', 'Mercedes-Benz C-Class Cabriolet',
       'Z4 Roadster', 'Mercedes-Benz V-Class', 'Q7',
       'Range Evoque Convertible', 'Range Velar',
       'Mercedes-Benz E-Class All Terrain', 'Xc90', 'Range Sport', 'Xj',
       'Cayenne', 'Ghibli', 'Land Cruiser', 'Rs7', 'Range', 'Grancabrio',
       'Mercedes-Benz Amg-Gt', 'Mercedes-Benz Amg Gt 4-Door Coupe',
       'Huracan', '488 Gtb', 'Gtc4 Lusso', 'Aventador',
       'Rolls-Royce Dawn', 'Rolls-Royce Drophead Coupe', 'Omni', 'Go+',
       'Punto Evo Pure', 'Figo', 'Baleno', 'Grand I10', 'Linea Classic',
       'Sunny', 'Ertiga', 'Baleno Rs', 'Wr-V', 'Tuv300', 'S-Cross',
       'Captur', 'Xylo', 'Seltos', 'Terrano', 'Safari Storme', 'Hector',
       'Nexon Ev', 'Elantra', 'Tucson', 'Passat', 'Mercedes-Benz A-Class',
       'V40 Cross Country', 'Countryman', 'Mercedes-Benz C-Class',
       'Prius', 'Es', 'Nx 300H', 'F-Pace', 'V90 Cross Country',
       'A5 Cabriolet', 'Mercedes-Benz Gle', 'Mercedes-Benz Cls', 'X7',
       'M4', '911', 'Gtr', 'Vantage', 'Rapide', '812 Superfast',
       'Alto 800 Tour', 'Grand I10 Nios', 'Xcent', 'Micra', 'Bolero',
       'Ciaz', 'Rapid', 'Abarth Punto', 'Creta', 'Harrier',
       'Dmax V-Cross', 'Outlander', 'Mercedes-Benz Gla-Class',
       'Accord Hybrid', '5-Series', '6-Series', 'Macan', 'F-Type', 'M5',
       'Lx 570', '458 Spider', 'Wagon', 'Tiago Nrg', 'Nuvosport', 'Kicks',
       'Winger', 'Kona Electric', 'Camry', 'A5', 'Discovery', 'Ls 500H',
       'Rolls-Royce Phantom', 'Punto Evo', 'Yaris', 'Octavia',
       'Mercedes-Benz Glc', 'Cayenne Coupe', 'Verito', 'Pajero Sport',
       'Flying Spur', 'City', 'Montero'], dtype=object)

In [213]:
df_obj["Model"]=df_obj["Model"].replace("Range","Range Rover")
df_obj["Model"]=df_obj["Model"].replace("Wagon","Wagon R")

In [214]:
df_obj["Model"].unique()

array(['Nano Genx', 'Redi-Go', 'Kwid', 'Eeco', 'Alto K10', 'Go',
       'Celerio Tour', 'Santro', 'Tiago', 'Celerio X', 'Ignis', 'Triber',
       'Rio', 'Etios Liva', 'Micra Active', 'Bolt', 'Xcent Prime',
       'Dzire Tour', 'Elite I20', 'Aura', 'Polo', 'Dzire', 'Freestyle',
       'Ameo', 'Aspire', 'Platinum Etios', 'Etios Cross', 'Verito Vibe',
       'Urban Cross', 'Glanza', 'Avventura', 'Jazz', 'Compass Trailhawk',
       'Mu-X', 'Alturas G4', 'Tiguan', 'Cr-V', 'Superb Sportline', 'A3',
       'Mercedes-Benz B-Class', 'Mercedes-Benz Cla-Class', 'Kodiaq',
       'Avanti', 'Q3', 'Cooper 5 Door', 'Convertible', 'Xc40', 'Clubman',
       'A4', 'John Cooper Works', 'Xe', 'Xf', 'A3 Cabriolet', 'A6', 'X3',
       'Discovery Sport', 'S90', 'S5', 'X5', 'Mustang', 'Grand Cherokee',
       'Mercedes-Benz E-Class Cabriolet', 'M2 Competition', '718',
       'Mercedes-Benz Gls', 'Land Cruiser Prado', 'Rx 450H', 'Rs5',
       '7-Series', 'Q8', 'Mercedes-Benz S-Class', 'Levante',
       'Mercedes-Benz G-Class', 'A8 L', 'Granturismo', 'Quattroporte',
       'Lc 500H', 'Mercedes-Benz Maybach', 'Panamera', 'Lx 450D',
       'Mercedes-Benz S-Class Cabriolet', 'R8', 'Urus', 'Continental Gt',
       'Portofino', 'Bentayga', 'Db 11', '458 Speciale',
       'Rolls-Royce Ghost Series Ii', 'Rolls-Royce Wraith', 'Mulsanne',
       'Rolls-Royce Cullinan', 'Rolls-Royce Phantom Coupe', 'Chiron',
       'Qute (Re60)', 'Alto', 'S-Presso', 'Celerio', 'Grand I10 Prime',
       'Kuv100 Nxt', 'Swift', 'Altroz', 'Extreme', 'Tigor', 'Zest',
       'Amaze', 'Gypsy', 'Venue', 'Nexon', 'Linea', 'Bolero Power Plus',
       'Vitara Brezza', 'I20 Active', 'Ecosport', 'Duster', 'Verna',
       'Xuv300', 'Lodgy', 'Vento', 'E2O Plus', 'Tigor Ev', 'Brv', 'Thar',
       'Gurkha', 'Xl6', 'Abarth Avventura', 'Tuv300 Plus', 'Marazzo',
       'Scorpio', 'Monte Carlo', 'Xuv500', 'E Verito', 'Hexa',
       'Innova Crysta', 'Compass', 'Corolla Altis', 'Civic', 'Zs Ev',
       'Carnival', 'Superb', 'V40', 'Fortuner', 'Endeavour',
       'Cooper 3 Door', 'Kodiaq Scout', 'X1', 'S60', '3-Series',
       'S60 Cross Country', 'Q5', 'Range Evoque', 'Mercedes-Benz E-Class',
       'Xc60', 'X4', 'Wrangler', 'Mercedes-Benz C-Class Cabriolet',
       'Z4 Roadster', 'Mercedes-Benz V-Class', 'Q7',
       'Range Evoque Convertible', 'Range Velar',
       'Mercedes-Benz E-Class All Terrain', 'Xc90', 'Range Sport', 'Xj',
       'Cayenne', 'Ghibli', 'Land Cruiser', 'Rs7', 'Range Rover',
       'Grancabrio', 'Mercedes-Benz Amg-Gt',
       'Mercedes-Benz Amg Gt 4-Door Coupe', 'Huracan', '488 Gtb',
       'Gtc4 Lusso', 'Aventador', 'Rolls-Royce Dawn',
       'Rolls-Royce Drophead Coupe', 'Omni', 'Go+', 'Punto Evo Pure',
       'Figo', 'Baleno', 'Grand I10', 'Linea Classic', 'Sunny', 'Ertiga',
       'Baleno Rs', 'Wr-V', 'Tuv300', 'S-Cross', 'Captur', 'Xylo',
       'Seltos', 'Terrano', 'Safari Storme', 'Hector', 'Nexon Ev',
       'Elantra', 'Tucson', 'Passat', 'Mercedes-Benz A-Class',
       'V40 Cross Country', 'Countryman', 'Mercedes-Benz C-Class',
       'Prius', 'Es', 'Nx 300H', 'F-Pace', 'V90 Cross Country',
       'A5 Cabriolet', 'Mercedes-Benz Gle', 'Mercedes-Benz Cls', 'X7',
       'M4', '911', 'Gtr', 'Vantage', 'Rapide', '812 Superfast',
       'Alto 800 Tour', 'Grand I10 Nios', 'Xcent', 'Micra', 'Bolero',
       'Ciaz', 'Rapid', 'Abarth Punto', 'Creta', 'Harrier',
       'Dmax V-Cross', 'Outlander', 'Mercedes-Benz Gla-Class',
       'Accord Hybrid', '5-Series', '6-Series', 'Macan', 'F-Type', 'M5',
       'Lx 570', '458 Spider', 'Wagon R', 'Tiago Nrg', 'Nuvosport',
       'Kicks', 'Winger', 'Kona Electric', 'Camry', 'A5', 'Discovery',
       'Ls 500H', 'Rolls-Royce Phantom', 'Punto Evo', 'Yaris', 'Octavia',
       'Mercedes-Benz Glc', 'Cayenne Coupe', 'Verito', 'Pajero Sport',
       'Flying Spur', 'City', 'Montero'], dtype=object)

In [215]:
nulli=df_obj[df_obj["Make"].isnull()][["Make","Model"]]

In [216]:
#df_obj["Make"]=null.combine_first(df_obj["Make"])

In [217]:
df_obj.columns

Index(['Make', 'Model', 'Variant', 'Ex-Showroom_Price', 'Displacement',
       'Drivetrain', 'Emission_Norm', 'Keyless_Entry', 'Power', 'Torque',
       'Odometer', 'Speedometer', 'Tachometer', 'Tripmeter', 'Fuel_Type',
       'ARAI_Certified_Mileage', 'Front_Suspension', 'Rear_Suspension',
       'Ground_Clearance', 'Boot_Space', 'Audiosystem', 'Third_Row_AC_Vents',
       'Ventilation_System', 'Auto-Dimming_Rear-View_Mirror', 'Hill_Assist',
       'Gear_Indicator', 'ABS_(Anti-lock_Braking_System)',
       'EBD_(Electronic_Brake-force_Distribution)', 'Gear_Shift_Reminder',
       'Adjustable_Steering_Column', 'Parking_Assistance', 'Key_Off_Reminder',
       'USB_Compatibility', 'EBA_(Electronic_Brake_Assist)',
       'Seat_Height_Adjustment', 'Navigation_System', 'Second_Row_AC_Vents',
       'Rear_Center_Armrest', 'ESP_(Electronic_Stability_Program)',
       'Cooled_Glove_Box', 'Turbocharger', 'Rain_Sensing_Wipers',
       'Automatic_Headlamps', 'ASR_/_Traction_Control', 'Cruise_Control'],
      dtype='object')

In [218]:
df_obj["Ex-Showroom_Price"]=df_obj["Ex-Showroom_Price"].str.replace("Rs. ","").str.replace(",","")

C:\Users\md kaif\AppData\Local\Temp\ipykernel_5312\3087651668.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_obj["Ex-Showroom_Price"]=df_obj["Ex-Showroom_Price"].str.replace("Rs. ","").str.replace(",","")

In [219]:
df_obj["Ex-Showroom_Price"].unique()

array(['292667', '236447', '296661', ..., '1431000', '1201000', '6862560'],
      dtype=object)

In [220]:
df_obj["Torque"].unique()

array(['51Nm@4000rpm', '72Nm@4386rpm', '91Nm@4250RPM', '101Nm@3000rpm',
       '85Nm@3000rpm', '90Nm@3500rpm', '78Nm@3500rpm', '104Nm@4000rpm',
       '99.04nm@4500RPM', '10.1kgm@4500RPM', '8.3KGM@4500rpm',
       '114NM@3300rpm', '113Nm@4200RPM', '96Nm@3500rpm',
       '103.9Nm@3500-4250rpm', '152Nm@2500RPM', '152Nm@2250RPM',
       '183Nm@1800-2400rpm', '104Nm@3100rpm', '170Nm@1800-2400rpm',
       '190Nm@1750-3000rpm', '140Nm@1500-4000rpm', '114Nm@6000rpm',
       '190Nm@2000rpm', '115Nm@4000rpm', '220Nm@1500rpm', '114Nm@4000rpm',
       '220Nm@1500-2750rpm', '95Nm@4000rpm', '172Nm@1500-4000rpm',
       '190NM@1750-2250RPM', '95Nm@3000-4300rpm', '230Nm@1500-2500rpm',
       '175Nm@1500-4100rpm', '250Nm@1500-2500rpm', '215Nm@1750-3000RPM',
       '120Nm@4250rpm', '132Nm@3000rpm', '160Nm@2000rpm', '209Nm@2000rpm',
       '210Nm@2000-4000RPM', '113Nm@4400 rpm', '113Nm@4200 rpm',
       '110Nm@4800rpm', '200Nm@1750rpm', '110 Nm@4800rpm',
       '350Nm@1750-2500rpm', '380Nm@1800-2800rpm', '420Nm@1600-2600rpm',
       '420Nm @1600-2600', '340Nm@1750-2750rpm', '189NM@4300rpm',
       '300NM@2000rpm', '250NM@1250-5000rpm', '350Nm@1500-3500rpm',
       '320Nm@1750-3000rpm', '200Nm@1250-4000rpm', '300Nm@1600-3000rpm',
       '300Nm@1200-4000rpm', '340Nm@1500-3500rpm', '340NM@2750-5000rpm',
       '380Nm@1750-2500rpm', '250Nm@1750-2500rpm', '270Nm@1750-2250rpm',
       '280NM@1250-4600rpm', '400Nm', '300Nm@1750rpm', '280NM@1250rpm',
       '250Nm@1500-3500', '320 Nm@1450-4800rpm', '365Nm@1500-4000rpm',
       '430NM@1750-2500rpm', '340Nm@1750-2000RPM', '430Nm@1750-2000rpm',
       '250 Nm @ 1250 RPM', '370Nm@1600-4500rpm', '400Nm@1750-2500rpm',
       '350 Nm @ 1450 rpm', '430NM@1750rpm', '400NM@1750rpm',
       '500Nm@1370-4500rpm', '620Nm@1500-2500rpm', '450Nm@1500-5200rpm',
       '515Nm@4250-4300RPM', '570Nm@2000rpm', '624 Nm @ 4100 rpm',
       '347Nm@4300rpm', '480Nm@1600-4000RPM', '550Nm@2350-5230rpm',
       '380Nm@1950-4500RPM', '619Nm@1600-2400RPM', '760Nm@5250RPM',
       '480Nm@5250rpm', '410Nm@1600-2800rpm', '335Nm@4600rpm',
       '600Nm@1900-5000rpm', '620Nm@2000-2500RPM', '450Nm@1380-5000RPM',
       '850Nm@1550-5000RPM', '500Nm@1370rpm', '620Nm@1600-2400rpm',
       '900Nm@2750-4500rpm', '600Nm@2000-2600rpm', '500Nm@4500-5000rpm',
       '580Nm@4500-5000rpm', '850Nm@2500-3500rpm', '600Nm@2500rpm',
       '520NM@4750rpm', '350Nm@5100rpm', '1000Nm@2300-4300rpm',
       '700Nm@1800-3500RPM', '770Nm@1960 - 4500rpm', '650Nm@1600-2600rpm',
       '560Nm@6500rpm', '850Nm@2250-4500rpm', '720Nm@1800rpm',
       '755NM@4750rpm', '900Nm@1350rpm', '770Nm@1350rpm', '700Nm@1500rpm',
       '540Nm@6000rpm', '780Nm@1700rpm', '780 Nm @ 1500-5000 rpm',
       '800Nm@1500-5500rpm', '1020Nm@1750rpm', '850 Nm@1600rpm',
       '720Nm@3500rpm', '1600Nm@2000-6000rpm', '1479bhp@6700rpm',
       '18.9Nm@4000rpm', '16.1Nm@4000rpm', '69Nm@3500rpm',
       '16.3Nm@1500-2750RPM', '115NM@3500-3600RPM', '113Nm@3300rpm',
       '200Nm@1250-3000rpm', '240Nm@2000-2500RPM', '270Nm@2500RPM',
       '140Nm@1750-3000rpm', '200NM@1750-3000rpm', '160Nm@1750rpm',
       '103Nm@4500RPM', '112.7Nm@4000rpm', '172Nm@4000rpm',
       '1712Nm@1500-4000rpm', '22.4', '170Nm@1500-2750rpm',
       '260Nm@1500-2750rpm', '207Nm@4500rpm', '207Nm@2200rpm',
       '195Nm@1400-2200rpm', nan, '195Nm@1440-2200RPM', '150Nm@4500rpm',
       '205Nm@1750-3250rpm', '142Nm@4000rpm', '245Nm@1750rpm',
       '151Nm@4850rpm', '260Nm@1500-3000rpm', '155Nm@4850rpm',
       '133Nm@4000rpm', '200Nm@2000rpm', '300Nm@1500rpm', '200Nm@1900rpm',
       '153Nm@3800rpm', '70Nm@1000rpm', '105Nm@2500RPM', '145Nm@4600rpm',
       '247Nm@1800-2000rpm', '230Nm@1400-2400rpm', '321 Nm @ 1600 rpm',
       '138Nm@4400rpm', '280Nm@1800-2800rpm', '300Nm@1750-2500rpm',
       '200Nm@1400-2200rpm', '320Nm@1500-2800rpm', '153Nm@3750-3800rpm',
       '320Nm@2000 - 3000rpm', '330Nm@1750-2800rpm', '360Nm@1750-2800rpm',
       '91Nm@3000rpm', '400Nm@1700-2700rpm', '320Nm@1700-2700rpm',
       '343Nm@1400-2800rpm', '245Nm@4000rpm', '245Nm@1200-3400RPM',
       '245 Nm @ 4000 rpm', '360Nm@1200-3400rpm', '250Nm@2500-4000rpm',
       '173Nm@4000rpm', '205Nm@1800-2800rpm', '174Nm@4300rpm',
       '300Nm@2000', '353Nm@5000rpm', '440Nm@1750-2750rpm',
       '320Nm@1450-3900rpm', '350Nm@1500-2750rpm', '450Nm@1600-2400rpm',
       '420Nm@1600-2400rpm', '470Nm@1750-2500rpm', '385Nm@1600-2500rpm',
       '340 Nm @ 1750 rpm', '280Nm@1350-4600rpm', '470Nm@2100-4800rpm',
       '400 Nm @ 1750 RPM', '400NM@1550rpm', '420Nm@1500-3000rpm',
       '370 Nm @ 1600-4500 rpm', '365Nm@1500-4500rpm', '620Nm@1600rpm',
       '720Nm@1750-5250RPM', '480Nm@1750rpm', '350Nm@1450rpm',
       '400Nm@4300rpm', '370Nm@1800-4000rpm', '320hp@1450-2000rpm',
       '500@1600-4500rpm', '380Nm@1400-2400rpm', '380Nm@2400rpm',
       '600Nm@1500-3000rpm', '340NM@1500rpm', '365Nm@1500rpm',
       '400Nm@1600-2800RPM', '470Nm@1740RPM', '640Nm@2200rpm', '240Nm',
       '480 Nm @ 1750 rpm', '700Nm@3500-4000rpm', '400Nm@1500-4000rpm',
       '450Nm@3500-5000RPM', '625Nm@2500-5500rpm',
       '600Nm @ 1750-2250 rpm', '740Nm@2250rpm', '600Nm@3500rpm',
       '689Nm@1800rpm', '450Nm@5300RPM', '770Nm@4500RPM',
       '450Nm@1340 - 5300rpm', '570Nm@2000-2600rpm', '600Nm@2000rpm',
       '700Nm@1750-5500rpm', '700Nm@3500-5000rpm', '600Nm@1750-2250rpm',
       '740Nm@1750-2250rpm', '510Nm@4750rpm', '650Nm@1750-4750rpm',
       '700Nm@1900-5500rpm', '630Nm@1700-5000rpm', '700Nm@1900 rpm',
       '540Nm@6500rpm', '600Nm@6500rpm', '540 Nm @ 6500 rpm',
       '760NM@3000rpm', '697Nm@5250RPM', '690Nm@5500rpm', '690Nm@5506RPM',
       '780Nm@1500-5000RPM', '59Nm@2500rpm', '96Nm@2500RPM',
       '197 Nm @ 1750 RPM', '115 Nm@4000rpm', '197Nm@1750RPM',
       '115Nm@4500RPM', '134Nm@4000rpm', '130Nm@4400rpm', '180Nm@4400rpm',
       '225Nm@1750rpm', '150Nm@1700-4500RPM', '240Nm@1600-2800rpm',
       '240Nm@1500-2250rpm', '240Nm@1750rpm', '218Nm@1400-2600rpm',
       '280Nm@2400-2800rpm', '144Nm@4500 rpm', '250Nm@1500-2750rpm',
       '242Nm@1500-3200rpm', '248Nm@2250rpm', '145Nm@3750rpm', '250NM',
       '350NM', '245Nm', '196Nm@4000rpm', '192NM@4000rpm',
       '240Nm@1600-500rpm', '280Nm@1350rpm', '400Nm@1600rpm',
       '500Nm@1600rpm', '700Nm@1750RPM', '280Nm@1600rpm', '142Nm@3600rpm',
       '221Nm@3600-5200rpm', '210Nm@4200-4400rpm', '369Nm@1300-4000rpm',
       '480Nm@1740RPM', '400Nm @1750-3000rpm', '700Nm@1200-3200rpm',
       '500Nm@1600-2400RPM', '450 Nm @ 1500 rpm', '620 Nm @ 1500 rpm',
       '550Nm@1850-5500rpm', '530Nm@5000rpm', '637Nm@3200rpm',
       '685Nm@2000-5000rpm', '630Nm@5500rpm', '718 Nm @ 7000 rpm',
       '180Nm@1750rpm', '104Nm@4400rpm', '225Nm@1500-2250rpm',
       '212Nm@2000-4000rpm', '260Nm@1900-2750rpm', '320NM@1800-2800RPM',
       '350Nm@1800-2800rpm', '222Nm@4100RPM', '300Nm@1200-1400rpm',
       '450Nm@2250-5000rpm', '350Nm@1400-3400rpm', '475Nm@2250-5000rpm',
       '175Nm@4000rpm', '560Nm@1500-3000rpm', '350Nm@1450-4800rpm',
       '480Nm@1360rpm', '370Nm@1600rpm', '680Nm@2500RPM', '700Nm@3500rpm',
       '400 Nm @ 1500 rpm', '750Nm@1800-5860rpm', '546Nm@1600-2600rpm',
       '1130Nm@4200rpm', '114NM@3500rpm', '140Nm@1800-3000rpm',
       '190Nm@1250-3500rpm', '395 Nm', '140Nm@4200rpm',
       '250Nm@1500-3500rpm', '320Nm@1650-4000rpm', '450Nm@1340-5300',
       '770Nm@2000-4500', '400Nm@2000rpm', '350Nm@1800-3500rpm',
       '400Nm@2000-2500rpm', '660NM@1700rpm', '800Nm@1600-6100rpm',
       '441Nm@2000rpm'], dtype=object)

In [221]:
#dispacement power torque arai ceritified mileage boot space mileage

In [222]:
for i in df_obj.columns:
    if df_obj[i].isnull().sum()>0:
        if "Yes" in df_obj[i].unique():
            df_obj[i].fillna("not-defined",inplace=True)
        elif i in ["Torque","ARAI_Certified_Mileage","Boot_Space","Ground_Clearance","Displacement"]:
            df_obj[i].fillna("undefined",inplace=True)
        else:
            df_obj[i].fillna(df_obj[i].mode()[0],inplace=True)

In [223]:
df_obj.isnull().sum().sum()

0

In [224]:
df_obj.rename(columns={"Ex-Showroom_Price":"Price"},inplace=True)

In [225]:
df_obj.columns

Index(['Make', 'Model', 'Variant', 'Price', 'Displacement', 'Drivetrain',
       'Emission_Norm', 'Keyless_Entry', 'Power', 'Torque', 'Odometer',
       'Speedometer', 'Tachometer', 'Tripmeter', 'Fuel_Type',
       'ARAI_Certified_Mileage', 'Front_Suspension', 'Rear_Suspension',
       'Ground_Clearance', 'Boot_Space', 'Audiosystem', 'Third_Row_AC_Vents',
       'Ventilation_System', 'Auto-Dimming_Rear-View_Mirror', 'Hill_Assist',
       'Gear_Indicator', 'ABS_(Anti-lock_Braking_System)',
       'EBD_(Electronic_Brake-force_Distribution)', 'Gear_Shift_Reminder',
       'Adjustable_Steering_Column', 'Parking_Assistance', 'Key_Off_Reminder',
       'USB_Compatibility', 'EBA_(Electronic_Brake_Assist)',
       'Seat_Height_Adjustment', 'Navigation_System', 'Second_Row_AC_Vents',
       'Rear_Center_Armrest', 'ESP_(Electronic_Stability_Program)',
       'Cooled_Glove_Box', 'Turbocharger', 'Rain_Sensing_Wipers',
       'Automatic_Headlamps', 'ASR_/_Traction_Control', 'Cruise_Control'],
      dtype='object')

In [226]:
df_obj.isnull().sum()

Make                                         0
Model                                        0
Variant                                      0
Price                                        0
Displacement                                 0
Drivetrain                                   0
Emission_Norm                                0
Keyless_Entry                                0
Power                                        0
Torque                                       0
Odometer                                     0
Speedometer                                  0
Tachometer                                   0
Tripmeter                                    0
Fuel_Type                                    0
ARAI_Certified_Mileage                       0
Front_Suspension                             0
Rear_Suspension                              0
Ground_Clearance                             0
Boot_Space                                   0
Audiosystem                                  0
Third_Row_AC_Vents                           0
Ventilation_System                           0
Auto-Dimming_Rear-View_Mirror                0
Hill_Assist                                  0
Gear_Indicator                               0
ABS_(Anti-lock_Braking_System)               0
EBD_(Electronic_Brake-force_Distribution)    0
Gear_Shift_Reminder                          0
Adjustable_Steering_Column                   0
Parking_Assistance                           0
Key_Off_Reminder                             0
USB_Compatibility                            0
EBA_(Electronic_Brake_Assist)                0
Seat_Height_Adjustment                       0
Navigation_System                            0
Second_Row_AC_Vents                          0
Rear_Center_Armrest                          0
ESP_(Electronic_Stability_Program)           0
Cooled_Glove_Box                             0
Turbocharger                                 0
Rain_Sensing_Wipers                          0
Automatic_Headlamps                          0
ASR_/_Traction_Control                       0
Cruise_Control                               0
dtype: int64

In [227]:
df_obj["Displacement"]=df_obj["Displacement"].str.replace(" cc","")

In [228]:
df_obj["Displacement"].unique()

array(['624', '799', '999', '1196', '998', '1198', '1086', '1199', '1197',
       '1173', '1489', '1248', '1364', '1193', '1396', '1186', '1498',
       '1194', '1496', '1461', '1368', '1956', '2999', '2157', '1968',
       '1997', '1597', '1798', '1395', '1595', '2143', '1991', '2000',
       '1998', '1969', '1999', '1984', '1995', '2995', '2993', '2998',
       '4951', '2987', '6417', '3604', '2996', '2979', '1988', '5461',
       '2982', '3456', '2894', '6592', '3982', '2925', '4691', '5980',
       '4663', '3996', '4461', '5204', '5998', '3855', '5950', '5198',
       '4497', '6593', '6752', '6750', '6749', '7993', '216', '796',
       '1120', '1497', '1994', '1298', '1397', '1493', '2523', '1591',
       '1582', '1598', 'undefined', '2498', '2596', '2149', '1462',
       '2179', '72', '2393', '2694', '2755', '1799', '2199', '3198',
       '2198', '2400', '1950', '2967', '4999', '4367', '3993', '3902',
       '3900', '6262', '6498', '6598', '1172', '2489', '1353', '1500',
       '1596', '2487', '2494', '2981', '3799', '5935', '6496', '2499',
       '1898', '2360', '1993', '4395', '5000', '5700', '1047', '2200',
       '2477', '3200'], dtype=object)

In [229]:
df_obj.isnull().sum().sum()

0

In [230]:
df_obj["Displacement"]=df_obj["Displacement"].str.replace(" cc","")

In [231]:
df_obj["Power"]=df_obj["Power"].apply(lambda x:x[0:3])
df_obj["Power"].unique()

array(['38P', '54P', '68P', '73P', '74P', '62P', '59P', '78P', '59b',
       '69P', '86P', '83P', '72P', '76.', '64P', '80P', '75P', '90P',
       '81.', '70b', '71P', '69b', '84P', '100', '76P', '105', '110',
       '84.', '96P', '65P', '93P', '140', '89P', '82P', '89 ', '173',
       '177', '178', '141', '154', '120', '180', '143', '150', '122',
       '136', '183', '148', '250', '116', '192', '190', '231', '247',
       '245', '248', '179', '333', '265', '340', '401', '240', '468',
       '286', '334', '410', '300', '258', '557', '262', '450', '609',
       '275', '350', '430', '585', '289', '460', '299', '630', '453',
       '550', '261', '455', '610', '650', '590', '560', '608', '605',
       '563', '570', '625', '512', '147', '160', '13b', '12b', '48P',
       '47h', '67P', '77P', '101', '82h', '117', '89h', '118', '114',
       '70p', '70 ', '63P', '63.', '123', '106', '85P', '128', '109',
       '115', '25.', '41.', '119', '104', '121', '155', '41P', '156',
       '166', '164', '174', '162', '163', '88.', '142', '200', '187',
       '372', '181', '184', '268', '549', '233', '188', '197', '249',
       '252', '194', '225', '407', '320', '235', '567', '296', '335',
       '518', '254', '274', '302', '558', '510', '476', '639', '580',
       '571', '602', '631', '670', '681', '700', '740', '34.', '75 ',
       '83 ', '82b', '99P', '103', '95B', '102', '95P', '168', '129',
       '152', '185', '241', '503', '98P', '176', '330', '431', '505',
       '789', '89B', '94B', '145', '126', '134', '167', '360', '170',
       '375', '349', '495', '297', '380', '669', '70P', '73.', '394',
       '107', '507', '616', '202'], dtype=object)

In [232]:
df_obj["Power"]=df_obj["Power"].str.replace("P","").str.replace(".","").str.replace("B","").str.replace("b","").str.replace("h","").str.replace(" ","").str.replace("p","")

C:\Users\md kaif\AppData\Local\Temp\ipykernel_5312\4163476668.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_obj["Power"]=df_obj["Power"].str.replace("P","").str.replace(".","").str.replace("B","").str.replace("b","").str.replace("h","").str.replace(" ","").str.replace("p","")

In [233]:
df_obj["Power"].unique()

array(['38', '54', '68', '73', '74', '62', '59', '78', '69', '86', '83',
       '72', '76', '64', '80', '75', '90', '81', '70', '71', '84', '100',
       '105', '110', '96', '65', '93', '140', '89', '82', '173', '177',
       '178', '141', '154', '120', '180', '143', '150', '122', '136',
       '183', '148', '250', '116', '192', '190', '231', '247', '245',
       '248', '179', '333', '265', '340', '401', '240', '468', '286',
       '334', '410', '300', '258', '557', '262', '450', '609', '275',
       '350', '430', '585', '289', '460', '299', '630', '453', '550',
       '261', '455', '610', '650', '590', '560', '608', '605', '563',
       '570', '625', '512', '147', '160', '13', '12', '48', '47', '67',
       '77', '101', '117', '118', '114', '63', '123', '106', '85', '128',
       '109', '115', '25', '41', '119', '104', '121', '155', '156', '166',
       '164', '174', '162', '163', '88', '142', '200', '187', '372',
       '181', '184', '268', '549', '233', '188', '197', '249', '252',
       '194', '225', '407', '320', '235', '567', '296', '335', '518',
       '254', '274', '302', '558', '510', '476', '639', '580', '571',
       '602', '631', '670', '681', '700', '740', '34', '99', '103', '95',
       '102', '168', '129', '152', '185', '241', '503', '98', '176',
       '330', '431', '505', '789', '94', '145', '126', '134', '167',
       '360', '170', '375', '349', '495', '297', '380', '669', '394',
       '107', '507', '616', '202'], dtype=object)

In [234]:
df_obj["ARAI_Certified_Mileage"].unique()

array(['23.6 km/litre', 'undefined', '21.9 km/litre', '25.17 km/litre',
       '22.5 km/litre', '23 km/litre', '23.01 km/litre', '24.04 km/litre',
       '15 km/litre', '24.07 km/litre', '20.1 km/litre', '23.1 km/litre',
       '20.3 km/litre', '24 km/litre', '20.89 km/litre', '20.5 km/litre',
       '16 km/litre', '23.7 km/litre', '18.16 km/litre', '23.59 km/litre',
       '18.97 km/litre', '19.49 km/litre', '22.95 km/litre',
       '17.57 km/litre', '15.7 km/litre', '20.14 km/litre', '20 km/litre',
       '28.4 km/litre', '22 km/litre', '18.6 km/litre', '22.54 km/litre',
       '18.15 km/litre', '25.35 km/litre', '20.4 km/litre',
       '25.4 km/litre', '18.78 km/litre', '17.21 km/litre',
       '19.91 km/litre', '24.4 km/litre', '19 km/litre', '21.66 km/litre',
       '21.73 km/litre', '26.1 km/litre', '19.4 km/litre',
       '16.78 km/litre', '17.71 km/litre', '20.08 km/litre',
       '17.1 km/litre', '23.87 km/litre', '21.01 km/litre',
       '19.56 km/litre', '18.2 km/litre', '27.3 km/litre',
       '16.3 km/litre', '13.8 km/litre', '12.35 km/litre',
       '12.05 km/litre', '17.06 km/litre', '14.4 km/litre',
       '19.5 km/litre', '18.3 km/litre', '13.7 km/litre',
       '18.19 km/litre', '20.38 km/litre', '19.2 km/litre',
       '14.81 km/litre', '15.04 km/litre', '17.9 km/litre', '10 km/litre',
       '15.73 km/litre', '16.9 km/litre', '21.15 km/litre',
       '14.59 km/litre', '16.47 km/litre', '11 km/litre',
       '13.12 km/litre', '19.33 km/litre', '14.11 km/litre',
       '18.56 km/litre', '13.57 km/litre', '13.38 km/litre',
       '11.24 km/litre', '13 km/litre', '12.8 km/litre', '8.61 km/litre',
       '9.8-10.0 km/litre', '7.4 km/litre', '11.6 km/litre',
       '12 km/litre', '11.13 km/litre', '18 km/litre', '10.8 km/litre',
       '17.66 km/litre', '11.86 km/litre', '7.96 km/litre',
       '13.5 km/litre', '7.8 km/litre', '14 km/litre', '7.9 km/litre',
       '10.63 km/litre', '6.71 km/litre', '8.6 km/litre', '9 km/litre',
       '8.77 km/litre', '17.3 km/litre', '7.29 km/litre', '10.2 km/litre',
       '9.5 km/litre', '22.4-21.9 km/litre', '22.8 km/litre',
       '5.95 km/litre', '35 km/litre', '22.05 km/litre', '21.4 km/litre',
       '21.7 km/litre', '19.77 km/litre', '25.32 km/litre',
       '25.2 km/litre', '25 km/litre', '11.12 km/litre', '17.6 km/litre',
       '20.65 km/litre', '27.4 km/litre', '23.8 km/litre',
       '11.9 km/litre', '17.52 km/litre', '18.27 km/litre',
       '23.97 km/litre', '16.5 km/litre', '15.96 km/litre',
       '24.3 km/litre', '17.19 km/litre', '21.19 km/litre', '17 km/litre',
       '14.8 km/litre', '13.87 km/litre', '19.6 km/litre',
       '17.7 km/litre', '23.9 km/litre', '23.5 km/litre', '19.1 km/litre',
       '21.04 km/litre', '19.98 km/litre', '16.09 km/litre',
       '20.64 km/litre', '21.5 km/litre', '15.4 km/litre',
       '19.01 km/litre', '17.01 km/litre', '18.49 km/litre',
       '10.22 km/litre', '21.72 km/litre', '14.84 km/litre',
       '21.13 km/litre', '15.41 km/litre', '13.85 km/litre',
       '15.1 km/litre', '10.83 km/litre', '10.75 km/litre',
       '11.25 km/litre', '14.1 km/litre', '16.7 km/litre', '21 km/litre',
       '16.8 km/litre', '26.8 km/litre', '14.12 km/litre',
       '14.67 km/litre', '16.81 km/litre', '12.9 km/litre',
       '14.24 km/litre', '10.26 km/litre', '10.01 km/litre',
       '10.91 km/litre', '12.62 km/litre', '15.75 km/litre',
       '16.25 km/litre', '20.68 km/litre', '17.05 km/litre',
       '19.62 km/litre', '16.13 km/litre', '12.44 km/litre',
       '15.6 km/litre', '142 km/litre', '8.5 km/litre', '18.8 km/litre',
       '16.4 km/litre', '13.32 km/litre', '8.4 km/litre', '7.6 km/litre',
       '14.75 km/litre', '11.68 km/litre', '12.63 km/litre',
       '12.06 km/litre', '17.2 km/litre', '11.5 km/litre', '3.4 km/litre',
       '16.2 km/litre', '9.8 km/litre', '9.6 km/litre', '10kmpl km/litre',
       '10.6 km/litre', '8 km/litre', '5.5 km/litre', '5 km/litre',
       '8.8 km/litre', '20.6 km/litre', '25.5 km/litre', '27.39 km/litre',
       '18.9 km/litre', '17.49 km/litre', '14.9 km/litre',
       '16.95 km/litre', '22.71 km/litre', '17.97 km/litre',
       '19.34 km/litre', '18.69 km/litre', '24.2 km/litre',
       '17.5 km/litre', '23.65 km/litre', '13.86 km/litre',
       '20.37 km/litre', '13.9 km/litre', '14.02 km/litre',
       '16.1 km/litre', '20.45 km/litre', '13.24 km/litre',
       '17.41 km/litre', '14.6 km/litre', '18.42 km/litre',
       '13.03 km/litre', '16.38 km/litre', '12.95 km/litre',
       '17.42 km/litre', '15.5 km/litre', '14.41 km/litre',
       '19.19 km/litre', '16.05 km/litre', '1449 km/litre',
       '17.8 km/litre', '21.27 km/litre', '8.9 km/litre', '9.1 km/litre',
       '24.7 km/litre', '20.7 km/litre', '17.36 km/litre',
       '23.08 km/litre', '28.09 km/litre', '21.56 km/litre',
       '20.28 km/litre', '26.82 km/litre', '26.32 km/litre',
       '21.38 km/litre', '15.29 km/litre', '19.67 km/litre',
       '10.3 km/litre', '9.62 km/litre', '18.12 km/litre',
       '14.69 km/litre', '15.01 km/litre', '16.46 km/litre',
       '7.94 km/litre', '21.76 km/litre', '14.3 km/litre',
       '15.3 km/litre', '10.7 km/litre', '10.85 km/litre',
       '23.84 km/litre', '27.28 km/litre', '16.21 km/litre',
       '14.23 km/litre', '23.2 km/litre', '9.17 km/litre',
       '21.2 km/litre', '13.51 km/litre', '18.18 km/litre',
       '10.77 km/litre', '4 km/litre', '17.4 km/litre', '25.6 km/litre',
       '25.1 km/litre', '22.6 km/litre', '11.56 km/litre'], dtype=object)

In [235]:
df_obj["ARAI_Certified_Mileage"]=df_obj["ARAI_Certified_Mileage"].apply(lambda x:x[0:4])

In [236]:
df_obj["ARAI_Certified_Mileage"].unique()

array(['23.6', 'unde', '21.9', '25.1', '22.5', '23 k', '23.0', '24.0',
       '15 k', '20.1', '23.1', '20.3', '24 k', '20.8', '20.5', '16 k',
       '23.7', '18.1', '23.5', '18.9', '19.4', '22.9', '17.5', '15.7',
       '20 k', '28.4', '22 k', '18.6', '25.3', '20.4', '25.4', '18.7',
       '17.2', '19.9', '24.4', '19 k', '21.6', '21.7', '26.1', '16.7',
       '17.7', '20.0', '17.1', '23.8', '21.0', '19.5', '18.2', '27.3',
       '16.3', '13.8', '12.3', '12.0', '17.0', '14.4', '18.3', '13.7',
       '19.2', '14.8', '15.0', '17.9', '10 k', '16.9', '21.1', '14.5',
       '16.4', '11 k', '13.1', '19.3', '14.1', '18.5', '13.5', '13.3',
       '11.2', '13 k', '12.8', '8.61', '9.8-', '7.4 ', '11.6', '12 k',
       '11.1', '18 k', '10.8', '17.6', '11.8', '7.96', '7.8 ', '14 k',
       '7.9 ', '10.6', '6.71', '8.6 ', '9 km', '8.77', '17.3', '7.29',
       '10.2', '9.5 ', '22.4', '22.8', '5.95', '35 k', '22.0', '21.4',
       '19.7', '25.2', '25 k', '20.6', '27.4', '11.9', '23.9', '16.5',
       '15.9', '24.3', '17 k', '19.6', '19.1', '16.0', '21.5', '15.4',
       '19.0', '18.4', '15.1', '10.7', '21 k', '16.8', '26.8', '14.6',
       '12.9', '14.2', '10.0', '10.9', '12.6', '16.2', '16.1', '12.4',
       '15.6', '142 ', '8.5 ', '18.8', '8.4 ', '7.6 ', '14.7', '11.5',
       '3.4 ', '9.8 ', '9.6 ', '10km', '8 km', '5.5 ', '5 km', '8.8 ',
       '25.5', '17.4', '14.9', '22.7', '24.2', '13.9', '14.0', '13.2',
       '13.0', '15.5', '1449', '17.8', '21.2', '8.9 ', '9.1 ', '24.7',
       '20.7', '28.0', '20.2', '26.3', '21.3', '15.2', '10.3', '9.62',
       '7.94', '14.3', '15.3', '27.2', '23.2', '9.17', '4 km', '25.6',
       '22.6'], dtype=object)

In [237]:
df_obj["ARAI_Certified_Mileage"]=df_obj["ARAI_Certified_Mileage"].str.replace("km","").str.replace(" km","").str.replace(" k","").str.replace(" ","")

In [238]:
df_obj["ARAI_Certified_Mileage"].unique()

array(['23.6', 'unde', '21.9', '25.1', '22.5', '23', '23.0', '24.0', '15',
       '20.1', '23.1', '20.3', '24', '20.8', '20.5', '16', '23.7', '18.1',
       '23.5', '18.9', '19.4', '22.9', '17.5', '15.7', '20', '28.4', '22',
       '18.6', '25.3', '20.4', '25.4', '18.7', '17.2', '19.9', '24.4',
       '19', '21.6', '21.7', '26.1', '16.7', '17.7', '20.0', '17.1',
       '23.8', '21.0', '19.5', '18.2', '27.3', '16.3', '13.8', '12.3',
       '12.0', '17.0', '14.4', '18.3', '13.7', '19.2', '14.8', '15.0',
       '17.9', '10', '16.9', '21.1', '14.5', '16.4', '11', '13.1', '19.3',
       '14.1', '18.5', '13.5', '13.3', '11.2', '13', '12.8', '8.61',
       '9.8-', '7.4', '11.6', '12', '11.1', '18', '10.8', '17.6', '11.8',
       '7.96', '7.8', '14', '7.9', '10.6', '6.71', '8.6', '9', '8.77',
       '17.3', '7.29', '10.2', '9.5', '22.4', '22.8', '5.95', '35',
       '22.0', '21.4', '19.7', '25.2', '25', '20.6', '27.4', '11.9',
       '23.9', '16.5', '15.9', '24.3', '17', '19.6', '19.1', '16.0',
       '21.5', '15.4', '19.0', '18.4', '15.1', '10.7', '21', '16.8',
       '26.8', '14.6', '12.9', '14.2', '10.0', '10.9', '12.6', '16.2',
       '16.1', '12.4', '15.6', '142', '8.5', '18.8', '8.4', '7.6', '14.7',
       '11.5', '3.4', '9.8', '9.6', '8', '5.5', '5', '8.8', '25.5',
       '17.4', '14.9', '22.7', '24.2', '13.9', '14.0', '13.2', '13.0',
       '15.5', '1449', '17.8', '21.2', '8.9', '9.1', '24.7', '20.7',
       '28.0', '20.2', '26.3', '21.3', '15.2', '10.3', '9.62', '7.94',
       '14.3', '15.3', '27.2', '23.2', '9.17', '4', '25.6', '22.6'],
      dtype=object)

In [240]:
df_obj[df_obj["ARAI_Certified_Mileage"]=="1449"]

,Make,Model,Variant,Price,Displacement,Drivetrain,Emission_Norm,Keyless_Entry,Power,Torque,...,Navigation_System,Second_Row_AC_Vents,Rear_Center_Armrest,ESP_(Electronic_Stability_Program),Cooled_Glove_Box,Turbocharger,Rain_Sensing_Wipers,Automatic_Headlamps,ASR_/_Traction_Control,Cruise_Control
1036,Maruti Suzuki,Mercedes-Benz C-Class,C 43 Amg,7500000,3982,RWD (Rear Wheel Drive),BS 6,Smart Key,503,700Nm@1750RPM,...,Yes,Yes,Cup Holders,Yes,Yes,Yes,Yes,Yes,Yes,Yes

In [241]:
df_obj.loc[1036,"ARAI_Certified_Mileage"]=14.49

In [242]:
df_obj["ARAI_Certified_Mileage"].unique()

array(['23.6', 'unde', '21.9', '25.1', '22.5', '23', '23.0', '24.0', '15',
       '20.1', '23.1', '20.3', '24', '20.8', '20.5', '16', '23.7', '18.1',
       '23.5', '18.9', '19.4', '22.9', '17.5', '15.7', '20', '28.4', '22',
       '18.6', '25.3', '20.4', '25.4', '18.7', '17.2', '19.9', '24.4',
       '19', '21.6', '21.7', '26.1', '16.7', '17.7', '20.0', '17.1',
       '23.8', '21.0', '19.5', '18.2', '27.3', '16.3', '13.8', '12.3',
       '12.0', '17.0', '14.4', '18.3', '13.7', '19.2', '14.8', '15.0',
       '17.9', '10', '16.9', '21.1', '14.5', '16.4', '11', '13.1', '19.3',
       '14.1', '18.5', '13.5', '13.3', '11.2', '13', '12.8', '8.61',
       '9.8-', '7.4', '11.6', '12', '11.1', '18', '10.8', '17.6', '11.8',
       '7.96', '7.8', '14', '7.9', '10.6', '6.71', '8.6', '9', '8.77',
       '17.3', '7.29', '10.2', '9.5', '22.4', '22.8', '5.95', '35',
       '22.0', '21.4', '19.7', '25.2', '25', '20.6', '27.4', '11.9',
       '23.9', '16.5', '15.9', '24.3', '17', '19.6', '19.1', '16.0',
       '21.5', '15.4', '19.0', '18.4', '15.1', '10.7', '21', '16.8',
       '26.8', '14.6', '12.9', '14.2', '10.0', '10.9', '12.6', '16.2',
       '16.1', '12.4', '15.6', '142', '8.5', '18.8', '8.4', '7.6', '14.7',
       '11.5', '3.4', '9.8', '9.6', '8', '5.5', '5', '8.8', '25.5',
       '17.4', '14.9', '22.7', '24.2', '13.9', '14.0', '13.2', '13.0',
       '15.5', 14.49, '17.8', '21.2', '8.9', '9.1', '24.7', '20.7',
       '28.0', '20.2', '26.3', '21.3', '15.2', '10.3', '9.62', '7.94',
       '14.3', '15.3', '27.2', '23.2', '9.17', '4', '25.6', '22.6'],
      dtype=object)

In [243]:
df_obj["Ground_Clearance"].unique()

array(['180 mm', '185 mm', '184 mm', '160 mm', '165 mm', 'undefined',
       '170 mm', '182 mm', '200 mm', '154 mm', '163 mm', '190 mm',
       '174 mm', '172 mm', '205 mm', '220 mm', '149 mm', '198 mm',
       '208 mm', '164 mm', '161 mm', '211 mm', '146 mm', '125 mm',
       '100 mm', '212 mm', '167 mm', '152 mm', '137 mm', '206 mm',
       '210 mm', '307 mm', '140 mm', '109 mm', '241 mm', '215 mm',
       '110 mm', '142 mm', '119 mm', '130 mm', '113 mm', '150 mm',
       '175 mm', '209 mm', '195 mm', '133 mm', '225 mm', '188 mm',
       '179 mm', '136 mm', '157 mm', '201 mm', '155 mm', '498 mm',
       '218 mm', '238 mm', '295.5 mm', '227 mm', '295 mm', '128 mm',
       '135 mm', '186 mm', '192 mm', '132 mm', '112 mm', '213 mm',
       '121 mm', '122 mm', '108 mm', '183 mm', '158 mm', '124 mm',
       '138 mm', '235 mm'], dtype=object)

In [244]:
df_obj["Ground_Clearance"]=df_obj["Ground_Clearance"].str.replace(" mm","")

In [245]:
df_obj["Ground_Clearance"].unique()

array(['180', '185', '184', '160', '165', 'undefined', '170', '182',
       '200', '154', '163', '190', '174', '172', '205', '220', '149',
       '198', '208', '164', '161', '211', '146', '125', '100', '212',
       '167', '152', '137', '206', '210', '307', '140', '109', '241',
       '215', '110', '142', '119', '130', '113', '150', '175', '209',
       '195', '133', '225', '188', '179', '136', '157', '201', '155',
       '498', '218', '238', '295.5', '227', '295', '128', '135', '186',
       '192', '132', '112', '213', '121', '122', '108', '183', '158',
       '124', '138', '235'], dtype=object)

In [51]:
df_obj["Boot_Space"].unique()

array(['110 litres', '94 litres', '222 litres', '300 litres',
       '400 litres', '250 litres', '177 litres', '265 litres',
       '235 litres', 'undefined', '242 litres', '240 litres',
       '260 litres', '625 litres', '454 litres', '251 litres',
       '210 litres', '407 litres', '320 litres', '316 litres',
       '285 litres', '280 litres', '378 litres', '257 litres',
       '330 litres', '592 litres', '339 litres', '354 litres',
       '438 litres', '615 litres', '522 litres', '150 litres',
       '425 litres', '488 litres', '470 litres', '460 litres',
       '278 litres', '215 litres', '432 litres', '360 litres',
       '480 litres', '455 litres', '505 litres', '520 litres',
       '560 litres', '550 litres', '650 litres', '1025 litres',
       '540 litres', '465 litres', '515 litres', '500 litres',
       '605 litres', '530 litres', '510 litres', '580 litres',
       '261 litres', '133 litres', '616 litres', '358 litres',
       '430 litres', '230 litres', '490 litres', '443 litres',
       '395 litres', '20 litres', '256 litres', '243 litres',
       '268 litres', '345 litres', '419 litres', '390 litres',
       '420 litres', '350 litres', '1702 litres', '328 litres',
       '352 litres', '475 litres', '259 litres', '207 litres',
       '759 litres', '494 litres', '135 litres', '255 litres',
       '223 litres', '600 litres', '209 litres', '384 litres',
       '96 litres', '128 litres', '448 litres', '324 litres',
       '296 litres', '211 litres', '270 litres', '380 litres',
       '495 litres', '1400 litres', '281 litres', '295 litres',
       '909 litres', '1761 litres', '478 litres', '645 litres',
       '745 litres', '770 litres', '621 litres', '535 litres',
       '173 litres', '165 litres', '70 litres', '450 litres',
       '525 litres', '347 litres',
       '209(All3RowsUp).550(3rdRowFolded)&803(2ndRowand3rdRowFolded) litres',
       '363 litres', '375 litres', '392 litres', '433 litres',
       '981 litres', '586 litres', '341 litres', '435 litres',
       '825 litres', '326 litres', '368 litres', '132 litres',
       '249 litres', '421 litres', '610 litres', '200.5 litres',
       '310 litres', '412 litres', '54 litres', '258 litres',
       '476 litres', '590 litres', '598 litres', '1050 litres'],
      dtype=object)

In [246]:
df_obj["Boot_Space"]=df_obj["Boot_Space"].apply(lambda x:x[0:4])

In [247]:
df_obj["Boot_Space"].unique()

array(['110 ', '94 l', '222 ', '300 ', '400 ', '250 ', '177 ', '265 ',
       '235 ', 'unde', '242 ', '240 ', '260 ', '625 ', '454 ', '251 ',
       '210 ', '407 ', '320 ', '316 ', '285 ', '280 ', '378 ', '257 ',
       '330 ', '592 ', '339 ', '354 ', '438 ', '615 ', '522 ', '150 ',
       '425 ', '488 ', '470 ', '460 ', '278 ', '215 ', '432 ', '360 ',
       '480 ', '455 ', '505 ', '520 ', '560 ', '550 ', '650 ', '1025',
       '540 ', '465 ', '515 ', '500 ', '605 ', '530 ', '510 ', '580 ',
       '261 ', '133 ', '616 ', '358 ', '430 ', '230 ', '490 ', '443 ',
       '395 ', '20 l', '256 ', '243 ', '268 ', '345 ', '419 ', '390 ',
       '420 ', '350 ', '1702', '328 ', '352 ', '475 ', '259 ', '207 ',
       '759 ', '494 ', '135 ', '255 ', '223 ', '600 ', '209 ', '384 ',
       '96 l', '128 ', '448 ', '324 ', '296 ', '211 ', '270 ', '380 ',
       '495 ', '1400', '281 ', '295 ', '909 ', '1761', '478 ', '645 ',
       '745 ', '770 ', '621 ', '535 ', '173 ', '165 ', '70 l', '450 ',
       '525 ', '347 ', '209(', '363 ', '375 ', '392 ', '433 ', '981 ',
       '586 ', '341 ', '435 ', '825 ', '326 ', '368 ', '132 ', '249 ',
       '421 ', '610 ', '200.', '310 ', '412 ', '54 l', '258 ', '476 ',
       '590 ', '598 ', '1050'], dtype=object)

In [248]:
df_obj["Boot_Space"]=df_obj["Boot_Space"].str.replace(" l","").str.replace(" ","").str.replace("(","")

C:\Users\md kaif\AppData\Local\Temp\ipykernel_5312\1361690880.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_obj["Boot_Space"]=df_obj["Boot_Space"].str.replace(" l","").str.replace(" ","").str.replace("(","")

In [249]:
df_obj["Boot_Space"].unique()

array(['110', '94', '222', '300', '400', '250', '177', '265', '235',
       'unde', '242', '240', '260', '625', '454', '251', '210', '407',
       '320', '316', '285', '280', '378', '257', '330', '592', '339',
       '354', '438', '615', '522', '150', '425', '488', '470', '460',
       '278', '215', '432', '360', '480', '455', '505', '520', '560',
       '550', '650', '1025', '540', '465', '515', '500', '605', '530',
       '510', '580', '261', '133', '616', '358', '430', '230', '490',
       '443', '395', '20', '256', '243', '268', '345', '419', '390',
       '420', '350', '1702', '328', '352', '475', '259', '207', '759',
       '494', '135', '255', '223', '600', '209', '384', '96', '128',
       '448', '324', '296', '211', '270', '380', '495', '1400', '281',
       '295', '909', '1761', '478', '645', '745', '770', '621', '535',
       '173', '165', '70', '450', '525', '347', '363', '375', '392',
       '433', '981', '586', '341', '435', '825', '326', '368', '132',
       '249', '421', '610', '200.', '310', '412', '54', '258', '476',
       '590', '598', '1050'], dtype=object)

In [251]:
df_obj["Torque"]=df_obj["Torque"].apply(lambda x:x[:4])

In [252]:
df_obj["Torque"].unique()

array(['51Nm', '72Nm', '91Nm', '101N', '85Nm', '90Nm', '78Nm', '104N',
       '99.0', '10.1', '8.3K', '114N', '113N', '96Nm', '103.', '152N',
       '183N', '170N', '190N', '140N', '115N', '220N', '95Nm', '172N',
       '230N', '175N', '250N', '215N', '120N', '132N', '160N', '209N',
       '210N', '110N', '200N', '110 ', '350N', '380N', '420N', '340N',
       '189N', '300N', '320N', '270N', '280N', '400N', '320 ', '365N',
       '430N', '250 ', '370N', '350 ', '500N', '620N', '450N', '515N',
       '570N', '624 ', '347N', '480N', '550N', '619N', '760N', '410N',
       '335N', '600N', '850N', '900N', '580N', '520N', '1000', '700N',
       '770N', '650N', '560N', '720N', '755N', '540N', '780N', '780 ',
       '800N', '1020', '850 ', '1600', '1479', '18.9', '16.1', '69Nm',
       '16.3', '240N', '103N', '112.', '1712', '22.4', '260N', '207N',
       '195N', 'unde', '150N', '205N', '142N', '245N', '151N', '155N',
       '133N', '153N', '70Nm', '105N', '145N', '247N', '321 ', '138N',
       '330N', '360N', '343N', '245 ', '173N', '174N', '353N', '440N',
       '470N', '385N', '340 ', '400 ', '370 ', '320h', '500@', '640N',
       '480 ', '625N', '740N', '689N', '510N', '630N', '540 ', '697N',
       '690N', '59Nm', '197 ', '115 ', '197N', '134N', '130N', '180N',
       '225N', '218N', '144N', '242N', '248N', '196N', '192N', '221N',
       '369N', '450 ', '620 ', '530N', '637N', '685N', '718 ', '212N',
       '222N', '475N', '680N', '750N', '546N', '1130', '395 ', '660N',
       '441N'], dtype=object)

In [253]:
df_obj["Torque"]=df_obj["Torque"].str.replace("N","").str.replace(".","")

C:\Users\md kaif\AppData\Local\Temp\ipykernel_5312\4046821860.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_obj["Torque"]=df_obj["Torque"].str.replace("N","").str.replace(".","")

In [254]:
df_obj["Torque"].unique()

array(['51m', '72m', '91m', '101', '85m', '90m', '78m', '104', '990',
       '83K', '114', '113', '96m', '103', '152', '183', '170', '190',
       '140', '115', '220', '95m', '172', '230', '175', '250', '215',
       '120', '132', '160', '209', '210', '110', '200', '110 ', '350',
       '380', '420', '340', '189', '300', '320', '270', '280', '400',
       '320 ', '365', '430', '250 ', '370', '350 ', '500', '620', '450',
       '515', '570', '624 ', '347', '480', '550', '619', '760', '410',
       '335', '600', '850', '900', '580', '520', '1000', '700', '770',
       '650', '560', '720', '755', '540', '780', '780 ', '800', '1020',
       '850 ', '1600', '1479', '161', '69m', '163', '240', '112', '1712',
       '224', '260', '207', '195', 'unde', '150', '205', '142', '245',
       '151', '155', '133', '153', '70m', '105', '145', '247', '321 ',
       '138', '330', '360', '343', '245 ', '173', '174', '353', '440',
       '470', '385', '340 ', '400 ', '370 ', '320h', '500@', '640',
       '480 ', '625', '740', '689', '510', '630', '540 ', '697', '690',
       '59m', '197 ', '115 ', '197', '134', '130', '180', '225', '218',
       '144', '242', '248', '196', '192', '221', '369', '450 ', '620 ',
       '530', '637', '685', '718 ', '212', '222', '475', '680', '750',
       '546', '1130', '395 ', '660', '441'], dtype=object)

In [255]:
df_obj["Torque"]=df_obj["Torque"].str.replace("@","").str.replace("h","").str.replace("K","").str.replace(" ","")

In [256]:
l=["ARAI_Certified_Mileage","Boot_Space","Torque"]
for i in l:
    df_obj[i]=df_obj[i].replace("unde",np.nan)

In [257]:
l=["Displacement","Ground_Clearance"]
for i in l:
    df_obj[i]=df_obj[i].replace("undefined",np.nan)

In [258]:
df_obj.isnull().sum()

Make                                           0
Model                                          0
Variant                                        0
Price                                          0
Displacement                                  12
Drivetrain                                     0
Emission_Norm                                  0
Keyless_Entry                                  0
Power                                          0
Torque                                         2
Odometer                                       0
Speedometer                                    0
Tachometer                                     0
Tripmeter                                      0
Fuel_Type                                      0
ARAI_Certified_Mileage                       114
Front_Suspension                               0
Rear_Suspension                                0
Ground_Clearance                             289
Boot_Space                                   249
Audiosystem                                    0
Third_Row_AC_Vents                             0
Ventilation_System                             0
Auto-Dimming_Rear-View_Mirror                  0
Hill_Assist                                    0
Gear_Indicator                                 0
ABS_(Anti-lock_Braking_System)                 0
EBD_(Electronic_Brake-force_Distribution)      0
Gear_Shift_Reminder                            0
Adjustable_Steering_Column                     0
Parking_Assistance                             0
Key_Off_Reminder                               0
USB_Compatibility                              0
EBA_(Electronic_Brake_Assist)                  0
Seat_Height_Adjustment                         0
Navigation_System                              0
Second_Row_AC_Vents                            0
Rear_Center_Armrest                            0
ESP_(Electronic_Stability_Program)             0
Cooled_Glove_Box                               0
Turbocharger                                   0
Rain_Sensing_Wipers                            0
Automatic_Headlamps                            0
ASR_/_Traction_Control                         0
Cruise_Control                                 0
dtype: int64